<%- include ("../partials/header") %>

<div class="container form-container">	
  <div class="row form-section">
	<h1>Add New Comment to <%= destination.name %></h1>
	<div class="form-content">
	  <form action="/destinations/<%= destination._id %>/comments/" method="POST">
		<div class="form-group">
		  <textarea class="form-control" type="text" name="comment[text]" placeholder="write your comment here..." rows="5"></textarea>
		</div>
		<div class="form-group">
		  <button class="btn btn-primary btn-lg btn-block">Submit</button>
		</div>
	  </form>
	  <a href="/destinations">Go Back</a>
	</div>
  </div>
</div>

<%- include ("../partials/footer") %>